body{
  font-family: 'Noto Sans JP', sans-serif;
}

.header-inner{
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 15px 24px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-nav{
  margin-left: auto;
  align-items: center;
  display: flex;
}

.header-title{
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 32px;  
}

.header-icon{
  display: flex;
  list-style: none;
  gap: 16px;
}

.header-nav li a{
  text-decoration: none;
  color: #666;
}

.twitter-icon,
.instagram-icon{
  border: solid 1px #eee;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}

.twitter-icon img,
.instagram-icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.main-hero img{
  width: 1440px;
  height: 320px;
  margin-top: 80px;
  position: relative;

}

.main-hero p{
  position: absolute;
  top: 190px;
  left: 204px;
  font-weight: 700;
  font-size: 18px;
  color: #EFF2F5;
}

.main-hero h1{
  position: absolute;
  top: 210px;
  left: 204px;
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
}

.main-inner{
  width: 984px;
  margin: 120px auto 0 auto;
}

.main-logo-question{
  width: 85px;
  height: 70px;
  background: #0071BC;
  border-radius: 8px;
}

.main-logo-question h2{
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 7px;
}

.main-inner h3{
  font-weight: 700;
  font-size: 36px;
  color: #333333;
  margin-top: 32px;
}

.main-img{
  text-align: center;
  margin-top: 80px;
}

.main-img img{
  width: 720px;
  object-fit: cover;
}

.main-logo-answer{
  width: 58px;
  height: 70px;
  background: #E34E70;
  border-radius: 8px;
}

.main-logo-answer h4{ 
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
}

.main-inner ul{
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin-top: 16px; 
}

.main-inner ul li{
  border: 5px solid #EEEEEE;
  font-weight: 700;
  font-size: 18px;
  color: #333333;
  width: 312px;
  height: 80px;
  border-radius: 8px;
  padding-left: 24px;
  line-height: 80px;
  cursor: pointer;
}

.main-quote{
  width: 984px;
  height: 80px;
  background: #F6F6F6;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.main-quote img{
  padding-left: 24px;
  padding-right: 15px;
}

.main-quote p{
  font-weight: 700;
  font-size: 18px;
  color: #333333;
}

/* JS用 */

.correctbox{
  width: 984px;
  height: 143px;
  background: #FFF2F5;
  border-radius: 8px;
  display: none;
}

.correctbox h5{
  font-weight: 700;
  font-size: 24px;
  color: #E34E70;
  padding-top: 24px;
  padding-left: 40px;
  margin: 0;
}

.correctbox p ,.falsebox p{
  font-weight: 700;
  font-size: 18px;
  color: #333333;
}

.correctbox span ,.falsebox span{
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 16px;
}

.falsebox{
  width: 984px;
  height: 143px;
  background: #EFF2F5;
  border-radius: 8px;
  display: none;
}

.falsebox h5{
  font-weight: 700;
  font-size: 24px;
  color: #0071BC;
  padding-top: 24px;
  padding-left: 40px;
  margin: 0;
}






/* LINE友達追加 */
.main-info{
  margin: 140px 250px 0 210px;
  text-align: center;
  background-image: url(../img/bg-line.jpg);
  background-size: cover;
  width: 984px;
  height: 357px;
  border-radius: 48px;
  position: relative;
}

.background-img{
  width: 984px;
  height: 357px;
  background-color: #0071BC;
  opacity: 0.9;
  border-radius: 48px;
}

.info-title{
  display: flex;
  justify-content: center;
  padding-top: 68px;
}

.info-line img{
  width: 40px;
  height: 40px;
  padding-top: 8px;
  padding-right: 8px;
}

.info-title h2{
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;

}

.main-info p{
  font-weight: 700;
  font-size: 14px; 
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  line-height: 160%;
}

.info-form{
  display: flex;
  width: 320px;
  height: 50px;  
  background: #FFFFFF;
  border-radius: 98px;
  justify-content: center;
  position: absolute;
  top: 239px;
  left: 333px;
}

.info-form p{
  font-weight: 700;
  font-size: 14px;
  color: #666666;
}

.info-form p{
  text-align: center;
}

.info-form img{
  position: absolute;
  top: 15px;
  left: 280px;
}

.footer-info{
  position: relative;
}

.footer-info-inner{
  width: 288px;
  height: 80px;
  background-color: #5fdf5b;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  justify-content: center;
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 10;
}

.info-icon img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 24px;
}

.footer-info{
  position: relative;
}

.footer-info-inner{
  width: 288px;
  height: 80px;
  background-color: #5fdf5b;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  justify-content: center;
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 10;
}

.info-icon img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 24px;
}

.footer-info p{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 75px;
  margin-top: 20px;
}

.info-img img{
  position: absolute;
  top: 32px;
  left: 250px;
}

.footer-inner{
  margin-top: 80px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
  height: 275px;
  width: 100vw;
}

.footer-logo img{
  margin-top: 56px;
}

.footer-inner p{
  font-weight: 400px;
  font-size: 14px;
  margin-top: 25px;
  color: #666666;
}

.footer-icon{
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: center;
  padding: 0;
  margin-top: 32px;
}

.footer-copyright{
  height: 80px;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  text-align: center;
  padding-left: 25px;
  letter-spacing: 2px;
  line-height: 80px;
}