body{
  font-family: 'Noto Sans JP', sans-serif;
}

.header-inner{
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: 15px 24px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-nav{
  margin-left: auto;
  align-items: center;
  display: flex;
}

.header-title{
  font-weight: bold;
  display: flex;
  list-style: none;
  gap: 32px;  
}

.header-icon{
  display: flex;
  list-style: none;
  gap: 16px;
}

.header-nav li a{
  text-decoration: none;
  color: #666;
}

.twitter-icon,
.instagram-icon{
  border: solid 1px #eee;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}

.twitter-icon img,
.instagram-icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.main-hero{
  display: flex;
  margin: 80px 0 0 0;
  max-width: 1068px;
}

.hero-container{
  display: flex;
  margin: 0;
  position: relative;
}

.hero-wrapper{
  padding: 50px 62px;
  background-color: #EFF2F5;
  border-radius: 24px;
  width: 375px;
  height: 200px;
  align-self: center;
  text-align: center;
  position: absolute;
  left: 80px;
  z-index: 8;
}

.hero-wrapper h1{
  color: #0071BC;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.hero-wrapper p{
  font-weight: bold;
  font-size: 60px;
  color: #333333;
  line-height: 1.3333;
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 10px;
}

.hero-foto img{
  width: 975px;
  height: 680px;
  border-radius: 80px 0 0 80px;
  position: relative;
  left: 464px;
  z-index: 5;
}

.hero-scroll{
  position: absolute;
  left: 126px;
  top: 715px;
  color: #333333;
  font-weight: 400;
  font-size: 14px; 
}

.hero-scroll::before{
  background: #ccc;
  border-radius: 8px;
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
}

.main-content{
  margin: 96px 205px 0 205px;
  text-align: center;
}

.main-title h2{
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

.main-title h3{
  font-weight: 700;
  font-size: 14px;
  color: #0071BC;
  margin-top: 8px;
  margin-bottom: 43px;
}

.main-inner{
  display: flex;
  text-align: left;
}


.content-img img{
  width: 472px;
  height: 312px;
  border-radius: 24px;
}

.main-content p{
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.5px;
  margin: auto 0 auto 40px;
}

.main-info{
  margin: 140px 250px 0 210px;
  text-align: center;
  background-image: url(./img/bg-line.jpg);
  background-size: cover;
  width: 984px;
  height: 357px;
  border-radius: 48px;
  position: relative;
}

.background-img{
  width: 984px;
  height: 357px;
  background-color: #0071BC;
  opacity: 0.9;
  border-radius: 48px;
}

.info-title{
  display: flex;
  justify-content: center;
  padding-top: 68px;
}

.info-line img{
  width: 40px;
  height: 40px;
  padding-top: 8px;
  padding-right: 8px;
}

.info-title h2{
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;

}

.main-info p{
  font-weight: 700;
  font-size: 14px; 
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  line-height: 160%;
}

.info-form{
  display: flex;
  width: 320px;
  height: 50px;  
  background: #FFFFFF;
  border-radius: 98px;
  justify-content: center;
  position: absolute;
  top: 239px;
  left: 333px;
}

.info-form p{
  font-weight: 700;
  font-size: 14px;
  color: #666666;
}

.info-form p{
  text-align: center;
}

.info-form img{
  position: absolute;
  top: 15px;
  left: 280px;
}

.footer-info{
  /* display: flex; */
  position: relative;
}

.footer-info-inner{
  width: 288px;
  height: 80px;
  background-color: #5fdf5b;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  justify-content: center;
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 10;
}

.info-icon img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 24px;
}

.footer-info p{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 75px;
  margin-top: 20px;
}

.info-img img{
  position: absolute;
  top: 32px;
  left: 250px;
}

.footer-inner{
  margin-top: 80px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  text-align: center;
  height: 275px;
  width: 100vw;
}

.footer-logo img{
  margin-top: 56px;
}

.footer-inner p{
  font-weight: 400px;
  font-size: 14px;
  margin-top: 25px;
  color: #666666;
}

.footer-icon{
  display: flex;
  list-style: none;
  gap: 8px;
  justify-content: center;
  padding: 0;
  margin-top: 32px;
}

.footer-copyright{
  height: 80px;
  font-weight: 400;
  font-size: 12px;
  color: #666666;
  text-align: center;
  padding-left: 25px;
  letter-spacing: 2px;
  line-height: 80px;
}




